/* navbar */
.navbar-brand {
  font-size: 1em;
  color: grey;
}
.navbar-default {
    font-size: 1.5em;
    color: white;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}

.content-block-one {
  padding: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
}

.learnMore {

}

.content-block-one h1,
.content-block-one .h1 {
  color: inherit;
}


.content-block-one p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.content-block-one > hr {
  /*border-top-color: #d5d5d5;*/
}
.container .content-block-one {
  border-radius: 6px;
}
.content-block-one .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .content-block-one {
    padding-right: 60px;
    padding-left: 60px;
  }
  .content-block-one h1,
  .content-block-one .h1 {
    font-size: 63px;
  }
}
.content-space-one {
  padding: 0px;
  margin-bottom: 100px;
  color: inherit;
  background: url(http://0201.nccdn.net/1_2/000/000/094/f08/logo-center.png) no-repeat center center fixed; 
  -webkit-background-size: fit;
  -moz-background-size: fit;
  -o-background-size: fit;
  background-size: fit;
  padding-top: 610px;
  padding-bottom: 610px;
}

.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: fit;
  padding-top: 400px;
  padding-bottom: 400px;
}

.davinesImg {
  z-index: -1;
  width: 100%;
  height: 100%;
}

.content-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 400px;
  padding-bottom: 400px;
}

.content-space-four {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://img1.etsystatic.com/062/0/10795927/il_570xN.777578739_r7ux.jpg) no-repeat center center fixed; 
  -webkit-background-size: stretch;
  -moz-background-size: stretch;
  -o-background-size: stretch;
  background-size: stretch;
  padding-top: 610px;
  padding-bottom: 600px;
}

.spaceFour {
  margin-top: 75px;
}

.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

.item-active {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: cover;
}

/*.carousel-slide {
  max-height: 100px;
}
*/

.carousel-inner.item img{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  font-size: 3em;
}

.item-active img{
  height: 1275px !important;
}

.productLine {
  font-size: 2.5em;
}













