    /* Navbar */
.navbar-default {
    font-size: 1em;
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}
#nav-text {
  color: white;
  font-size: 2em;
}
        /*End Navbar*/


    /*Home page*/
.content-space-one {
  background: url("../images/PlantHD.jpg") no-repeat center center fixed;
  text-align: center;
  vertical-align: center;
  color: white;
  height: 100vh;
  padding-top: 25%;
  background-size: cover;
  text-shadow: 0 3px 2px #424242;
  font-size: 1.5em;
}
.learnMoreAbout {
  color: white;
}

.content-space-two {
  background: url("../images/davines_littlemen2.jpg") no-repeat center center fixed;
  height: 100vh;
  text-align: center;
  background-color: #E0E0E0;
  padding-top: 45%
}
.overlay-text-2 {
  color: black;
  text-align: center;
  font-size: 2em;
  text-shadow: 0 2px 1px #424242;
}
    /*Carousel*/
.carousel-caption {
  font-size: 3em;
  text-shadow: 0 2px 1px #424242;
}
.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}
.paragraphDiv {
  margin-top: 200px;
  color: #424242;
}
    /*End Carousel*/

.content-space-four {
  /*background: url("../images/Location.jpg") no-repeat center center fixed;*/
  height: 100vh;
  text-align: center;
  padding-top: 5%;
  background-size: 105%;
}
.overlay-text {
  color: black;
  text-align: center;
  font-size: 2em;
  text-shadow: 0 2px 1px #424242;
}

          /*End Home page*/

    /*Welcome page*/
.welcomeContent {
  background: url("../images/welcome.jpg") no-repeat center;
  height: 100vh;
  background-size: cover;
}
.overlay-text-welcome {
  font-size: 1.7em;
  color: white;
  text-align: left;
  position: absolute;
  top: 50px;
  left: 0px;
  right: 50px;
  width: 63%;
  text-shadow: 0px 3px 3px #4d4d4d;
  color: white;
  font: 'LeagueGothicRegular';
}
    /*End Welcome page*/







