/* navbar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    border-radius: 0px;
    z-index: 10007;
}
.content-block-one {
  padding: 30px;
  margin-bottom: 0px;
  color: inherit;
  background-color: #eee;
}
.content-block-one h1,
.content-block-one .h1 {
  color: inherit;
}
.content-block-one p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.content-block-one > hr {
  border-top-color: #d5d5d5;
}
.container .content-block-one {
  border-radius: 6px;
}
.content-block-one .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .content-block-one {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .content-block-one {
    padding-right: 60px;
    padding-left: 60px;
  }
  .content-block-one h1,
  .content-block-one .h1 {
    font-size: 63px;
  }
}
.content-space-one {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(https://scontent-atl3-1.xx.fbcdn.net/hphotos-xta1/v/t1.0-9/11059428_945649028800299_1528371864669310978_n.jpg?oh=7817dac27c46c419ebe1e8997a807142&oe=56E50152) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 610px;
  padding-bottom: 610px;
}
.content-space-two {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(http://stylenet.com/files/11523/275018-davinesbanner.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 610px;
  padding-bottom: 610px;

}
.content-space-three {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*padding-top: 700px;
  padding-bottom: 700px;*/
}
.content-space-four {
  padding: 0px;
  margin-bottom: 0px;
  color: inherit;
  background: url(http://static1.squarespace.com/static/54f3ec24e4b0970ed1731bfc/t/55d4ccbfe4b00f3b16cfbd59/1440009412336/Screen+Shot+2015-08-19+at+2.33.18+PM.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: auto;
  padding-top: 610px;
  padding-bottom: 610px;
}
.page-break {
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 0 auto;
}

.item-active {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: cover;
}














