<!--Some stuff here that will make a few things do some stuff.-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/">Cheveux Pure Organic Hair Salon</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/Lisa-Pertee-Eco-Stylist-262568863774989/?fref=ts">Facebook</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>


<div id="plzWork" class="content-space-one">
    <h1 id="plzWork" class="learnMore">Welcome</h1>
      <a id="plzWork" class="learnMore" ng-href="/#/welcome">Learn more about Cheveux Pure</a>
</div>


<div class="content-space-two">
  <img class="davinesImg" src="../images/davines.png" type="image">
    <div class="text-center">
      <a class="productLine" ng-href="http://us.davines.com/?gclid=Cj0KEQiAno60BRDt89rAh7qt-4wBEiQASes2tY1-v4bY8kprbnMHLq4-B4JxXh6etfLlALRCaDmFDlkaAvPG8P8HAQ">Product Line</a>
    </div>
</div>

      <!-- start carousel -->

<div id="startchange"></div>
  <div id="carousel-example-generic" class="carousel slide">


    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://images.unsplash.com/photo-1428069940893-209d71f133cf?crop=entropydpr=2fit=cropfm=jpgh=975ixjsv=2.1.0ixlib=rb-0.3.5q=50w=1700" width="100%">
        <div class="carousel-caption">
          Gallery
        </div>
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1424870034692-4d4d11a22bd4?crop=entropydpr=2fit=cropfm=jpgh=975ixjsv=2.1.0ixlib=rb-0.3.5q=50w=1700" width="100%">
      </div>

      <div class="item">
        <img src="https://images.unsplash.com/photo-1431625867569-b30443e3ef00?crop=entropydpr=2fit=cropfm=jpgh=975ixjsv=2.1.0ixlib=rb-0.3.5q=50w=1700" width="100%">
      </div>
    </div>     <!-- end carousel-inner -->

  </div>     <!-- end carousel-example-generic -->

                  <!-- eye photo https://scontent-atl3-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10284790_938715632826972_2063582908843934324_o.jpg"  -->


<div class="content-space-four">
    <h1 class="spaceFour">
    <a class="spaceFour" ng-href="https://www.google.com/maps/place/1840+Brookmill+Rd,+Knoxville,+TN+37932/@35.945326,-84.130263,839m/data=!3m1!1e3!4m2!3m1!1s0x885c2fd8ae1beba1:0xcf3c19e5aa54d88a!6m1!1e1">Location</a>
    </h1>
</div>







