<!-- Code's messsy, basic layout for a small project I'm doing. Follow me on twitter @taylorgrendel for free pie!-->
<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Cheveux Pure Organic Hair Salon</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/Lisa-Pertee-Eco-Stylist-262568863774989/?fref=ts">Facebook</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="content-space-one">
    <div class="text-center">
<h1>Welcome</h1>
        <div class="page-break"></div>
    <a ng-href="/#/welcome">Learn more about Cheveux Pure</a>
    </div>
</div>


<div class="content-space-two">
  <img class="davinesImg" src="../images/davines.png" type="image">
    <div class="text-center">
<h1 class="productLine">Product Line</h1>
    </div>
</div>


<!-- start gallary content w/carousel -->
  <!-- <div class="content-space-three">
    <div class="text-center">
      <h1>Gallary</h1>
          <div class="page-break"></div>
      <p>Other information can go here</p>
 -->

<div id="startchange"></div>
  <div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://images.unsplash.com/photo-1428069940893-209d71f133cf?crop=entropydpr=2fit=cropfm=jpgh=975ixjsv=2.1.0ixlib=rb-0.3.5q=50w=1700" height="1275px !important" width="100%" no-repeat center center fixed>
      <div class="carousel-caption">
        ...
      </div>
    </div>
                <!-- eye photo https://scontent-atl3-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/10284790_938715632826972_2063582908843934324_o.jpg"  -->

    <div class="item">
      <img src="https://images.unsplash.com/photo-1424870034692-4d4d11a22bd4?crop=entropydpr=2fit=cropfm=jpgh=975ixjsv=2.1.0ixlib=rb-0.3.5q=50w=1700" height="1275px !important" width="100%" no-repeat center center fixed>
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://images.unsplash.com/photo-1431625867569-b30443e3ef00?crop=entropydpr=2fit=cropfm=jpgh=975ixjsv=2.1.0ixlib=rb-0.3.5q=50w=1700" height="1275px !important" width="100%" no-repeat center center fixed>
      <div class="carousel-caption">
        ...
      </div>
    </div>
  </div>

  <!-- Controls -->
  <!-- <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a> -->
</div>
  <!-- </div>     -->

<!-- </div>  -->     <!-- end gallary content w/carousel -->


<div class="content-space-four">
  <div class="text-center">
    <h1>
    <a ng-href="https://www.google.com/maps/place/1840+Brookmill+Rd,+Knoxville,+TN+37932/@35.945326,-84.130263,839m/data=!3m1!1e3!4m2!3m1!1s0x885c2fd8ae1beba1:0xcf3c19e5aa54d88a!6m1!1e1">Location</a>
    </h1>
  </div>
</div>







