
  <!--Some stuff here that will make a few things do some stuff.-->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/" style="color: white">Cheveux Pure Organic Hair Salon</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/Lisa-Pertee-Eco-Stylist-262568863774989/?fref=ts" class="nav-right" style="color: white">Facebook</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>






<div class="welcomeContent">
  <div class="overlay-text-welcome">
      <p class="overlay-text-welcome">Hello everyone, my name is Lisa Pertee.  I have developed a strong passion for the organic hair care and am devoted to continuing my education in the field. I love what I do and you will too! Call and make an appointment with me today (865)919-5472! You can also contact me through email Lpertee827@gmail.com</p>
  </div> 
</div>



















