<div id="wecomeContent">

  <!--Some stuff here that will make a few things do some stuff.-->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/#/">Cheveux Pure Organic Hair Salon</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://www.facebook.com/Lisa-Pertee-Eco-Stylist-262568863774989/?fref=ts">Facebook</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
  </nav>


<div>
  <img id="image" src="https://images.unsplash.com/photo-1444068901577-032823f657b1?crop=entropydpr=2fit=cropfm=jpgh=975ixjsv=2.1.0ixlib=rb-0.3.5q=50w=1700" width="100%" alt="" />

  <h2>Hello everyone, my name is Lisa Pertee.  I have developed a strong passion for the organic hair care and am devoted to continuing my education in the field. I love what I do and you will too! Call and make an appointment with me today (865)919-5472! You can also contact me through email Lpertee827@gmail.com.</h2>
  
</div>

<!-- 
      Hello everyone, my name is Lisa Pertee.  I have developed a strong passion for the organic hair care and am devoted to continuing my education in the field. I love what I do and you will too! Call and make an appointment with me today (865)919-5472! You can also contact me through email Lpertee827@gmail.com.
 -->



</div>

  <!-- <div id="marco">
      marco?

  </div> -->